/* Custom CSS */
body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 0.75rem;
}

.card-header {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.jumbotron {
    background-color: #e9ecef;
}

.alert-container {
    position: fixed;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    z-index: 1050; /* Ensure it's above other content */
    max-width: 350px; /* Optional: limit width */
}